html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: rgb(0, 0, 0) !important;
}

#xyz {
  /* margin-top: 200px; */
  background: rgb(15, 15, 15) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.deck-tooltip {
  font-size: 0.8em;
  font-family: Helvetica, Arial, sans-serif;
}

#hexgrid {
  width: 100vw;
  height: 80vh;
  top: 30vh;
}

#area {
  width: 100vw;
  height: 22vh;
}

#legend {
  top: 30vh;
  right: 0;
  position: fixed;
}

.wordWrap {
  word-wrap: break-word;
  width: 10px;
}

#sidePanel {
  overflow-y: auto;
  width: 350px;
  height: 720px;
  padding-top: 0px;
  background-color: black !important;
  border-style: double;
  border-color: #333 !important;
  opacity: 0.9;
  float: right;
  margin-top: -640px;
}

.partition {
  border: none;
  border-top: 3px double #f2f2f2;
  color: #0f0f0f;
  overflow: visible;
  text-align: center;
  height: 5px;
}

.hide {
  visibility: hidden;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  border-bottom-color: #76b900;
  border-bottom-style: double;
}

.topnav span,
.customHeader {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.selectedEventTitle {
  color: #f2f2f2;
  font-size: 17px;
  font-weight: bold;
}

.selectedEvent {
  color: #b95422;
}

.App {
  width: 100vw;
  height: 100vh;
}

#anomalyNumber {
  font-size: 30px;
  margin-left: 180px;
}

.customHeader {
  font-size: 20px;
}

.listOfAttributes {
  background-color: black !important;
}
